*{
    border:1px solid magenta;
}

.headerimg{
    display: block;
    width: 100%;
    border-radius: 10px;
}

.signupcontainer{
    border: 2px solid black;
    border-radius: .5em;
    background-color: ivory;
    text-align: center;
    width: 800px;
    height: 250px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transform: translateY(-110px);
}

section{
    
}

.title{
    width: 100%;
    font-size: 30px;
    margin: 50px 0 0 0;
}

.startdate{
    
}

.who{

}
